.env
backend/venv/
backend/.env
backend/*.db
frontend/node_modules/
frontend/dist/
__pycache__/
.pytest_cache/
*.log
*.md
cf-config.json
distributionConfig.json"# Vector DB"  
"vector_db/"  
"*.sqlite3"  
"*.bin" 
