__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.env
package/*
venv/
.venv/
*.db
*.zip
agentcore-venv/
*.yaml

# Temporary files to ignore
event.json
response.json
typing_extensions.py

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
venv/

# IDE
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/
*.egg
*.pyd
*.pyc

# Tests
*.py.test
*.pyc
__pycache__/
.test

app/vector_db/
app/document/*.pdf