fastapi==0.115.6
mangum==0.17.0
pydantic==2.10.5
pydantic-settings==2.7.0
python-dotenv==1.0.1
pytest==8.3.4
httpx==0.28.1
uvicorn[standard]==0.34.0
boto3==1.34.120
botocore==1.34.120
langchain==0.2.10
langchain-community==0.2.10
langchain-text-splitters==0.2.4
chromadb==1.5.9
pypdf==4.3.1